%% deps dirs
{deps_dir, ["deps"]}.

%% rel dirs
{sub_dirs, ["rel"]}.

%% compiler options
{erl_opts, [
	no_debug_info, 
	fail_on_warning
]}.

%% port env
{port_env, [
	{"darwin", "CXXFLAGS", "$CXXFLAGS -std=c++11 -stdlib=libc++"},
	{"darwin",  "LDFLAGS", "$LDFLAGS -lboost_system-mt -lboost_thread-mt -lxerces-c -lQuickFAST -lcppa"},
	{ "linux", "CXXFLAGS", "$CXXFLAGS -std=c++11"},
	{ "linux",  "LDFLAGS", "$LDFLAGS -lboost_system-mt -lboost_thread-mt -lxerces-c -lQuickFAST -lcppa"}
]}.

%% port
{port_specs, [
	{"priv/fastprot.so", ["c_src/*.cpp", "c_src/detail/*.cpp"]}
]}.
